In [ ]:
import pandas as pd

In [ ]:
df  = pd.read_csv('X:\Python\Corey_Schaffer_pandas\survey_results_public.csv')
schema_df = pd.read_csv('X:\Python\Corey_Schaffer_pandas\survey_results_schema.csv')

In [ ]:
pd.set_option('display.max_columns',60)
pd.set_option('display.max_rows',65)

In [ ]:
df.head()

In [ ]:
# DataFrame is a container for series of objects

In [5]:
#making a pandas dataframe from a dictionary
people = {
    "First_Name": ['Gautam','Soumya','Ashutosh'],
    "Last_Name" : ['Jha','Singh','Yadav'],
    "Email"     : ['Gautamjha@mail.com','SoumyaSingh@mail.com','AshutoshYadav@mail.com']
}

In [6]:
df = pd.DataFrame(people)

In [7]:
df

  First_Name Last_Name                   Email
0     Gautam       Jha      Gautamjha@mail.com
1     Soumya     Singh    SoumyaSingh@mail.com
2   Ashutosh     Yadav  AshutoshYadav@mail.com

In [10]:
df['First_Name']

0      Gautam
1      Soumya
2    Ashutosh
Name: First_Name, dtype: object

In [11]:
df.First_Name

0      Gautam
1      Soumya
2    Ashutosh
Name: First_Name, dtype: object

In [12]:
df[['Last_Name','Email']]

  Last_Name                   Email
0       Jha      Gautamjha@mail.com
1     Singh    SoumyaSingh@mail.com
2     Yadav  AshutoshYadav@mail.com

In [13]:
# to get list of columns
df.columns

Index(['First_Name', 'Last_Name', 'Email'], dtype='object')

In [17]:
#to get list of rows

# iloc -> integer location

df.iloc[1]

First_Name                  Soumya
Last_Name                    Singh
Email         SoumyaSingh@mail.com
Name: 1, dtype: object

In [24]:
# to get a multiple rows --- loc,iloc
# df = iloc[[rows],column_index]
df.iloc[[0,1]]
#df.iloc[[0,1],2]

  First_Name Last_Name                 Email
0     Gautam       Jha    Gautamjha@mail.com
1     Soumya     Singh  SoumyaSingh@mail.com

In [32]:
## df = iloc[[rows],column_name]
df.loc[[0,2],['Email','Last_Name']]
#df.loc[[0,2]]

                    Email Last_Name
0      Gautamjha@mail.com       Jha
2  AshutoshYadav@mail.com     Yadav